<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lista de Productos</title>
  </head>
  <body bgcolor="#6c9eab" text="white">
    <h2 th:text="${titulo}"></h2>

    <a th:href="@{/productos/nuevo}"> Nuevo Producto </a><br /><br />

    <table border="1" bgcolor="#4a4747">
      <tr>
        <th>ID</th>
        <th>Precio</th>
        <th>Categoria</th>
        <th>Caduce</th>
        <th>Editar</th>
        <th>Eliminar</th>
      </tr>

      <tr th:each="p:${productos}" style="text-align: center;">
        <td th:text="${p.idProducto}"></td>

        <td th:text="${p.precioUnit}"></td>

        <td th:text="${p.nombreCategoria}"></td>

        <td th:text="${p.nombreCaduce}"></td>

        <td>
          <form
            th:action="@{/productos/editar}"
            method="post"
            style="display: inline"
          >
            <input type="hidden" name="id" th:value="${p.idProducto}" />
            <button type="submit">Editar</button>
          </form>
        </td>

        <td>
          <form
            th:action="@{/productos/eliminar}"
            method="post"
            style="display: inline"
          >
            <input type="hidden" name="id" th:value="${p.idProducto}" />
            <button type="submit">Eliminar</button>
          </form>
        </td>
      </tr>
    </table>
    <br /><br />
    <a th:href="@{/}">Regresar al menú principal</a>
  </body>
</html>
