<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Formulario de Ropa</title>
</head>
<body bgcolor="#6c9eab" text="white">

<h2>Formulario de Ropa</h2>

<form th:action="@{/ropa/guardar}" th:object="${ropa}" method="post">

    <!-- ID oculto -->
    <input type="hidden" th:field="*{idRopa}" />

    <!-- PRODUCTO -->
    <label>Producto:</label>
    <select th:field="*{producto.idProducto}" required>
        <option value="" disabled>Seleccione un producto</option>
            <option th:each="p : ${productos}"
            th:value="${p.idProducto}"
            th:text="${p.idProducto}">
            </option>
    </select>

    <br/><br/>
    <!-- TALLAS -->
    <label>Tallas:</label><br/><br/>

    <div th:each="t : ${tallas}">
        <input type="checkbox"
                name="idsTalla"
                th:value="${t.idTalla}" />
        <span th:text="${t.tipoTalla}"></span>
        <br/>
    </div><br/><br/>

    <!-- ORIGEN -->
    <label>Origen:</label>

    <select name="idsOrigen" multiple>
    <option th:each="o : ${origenes}" th:value="${o.idOrigen}" th:text="${o.nombreOrigen}"></option>
    </select><br/><br/>
    <button type="submit">Guardar</button>
</form>
<br/>
<a th:href="@{/ropa}">Regresar a la lista</a>
</body>
</html>