<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title>Formulario de Comida</title>
</head>
<body bgcolor="#6c9eab" text="white">

<h2>Formulario de Comida</h2>

<form th:action="@{/comida/guardar}" th:object="${comida}" method="post">

  <!-- ID -->
  <input type="hidden" th:field="*{idComida}" />

  <!-- PRODUCTO -->
  <label>Producto:</label>
  <select th:field="*{producto.idProducto}" required>
    <option value="" disabled>Seleccione un producto</option>
    <option th:each="p : ${productos}"
            th:value="${p.idProducto}"
            th:text="${p.idProducto}">
    </option>
  </select>

  <br/><br/>

  <!-- ORIGEN -->
  <label>Origen:</label>

    <select name="idsOrigen" required>
        <option value="" disabled>Seleccione un Origen</option>
        <option th:each="o : ${origenes}"
            th:value="${o.idOrigen}"
            th:text="${o.nombreOrigen}">
        </option>
    </select><br/><br/>

  <button type="submit">Guardar</button>
</form>

<br/>
<a th:href="@{/comida}">Regresar</a>

</body>
</html>