<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Lista de Comidas</title>
</head>
<body bgcolor="#6c9eab" text="white">

<h2>Comidas</h2>

<a th:href="@{/comida/nuevo}"> Nueva Registro </a><br/><br/>

<table border="1" bgcolor="#4a4747">
  <tr>
    <th>ID</th>
    <th>Producto</th>
    <th>Categoría</th>
    <th>Origen</th>
    <th>Editar</th>
    <th>Eliminar</th>
  </tr>

  <tr th:each="c : ${listaComidas}" style="text-align: center;">

    <!-- ID -->
    <td th:text="${c.idComida}"></td>

    <!-- PRODCUTOS -->
    
    <td th:text="${c.idProducto != null ? c.idProducto : 'Sin producto'}"></td>
    <!-- CATEGORIA -->
  <td th:text="${c.nombreCategoria != null ? c.nombreCategoria : 'Sin categoría'}"></td>
    <!-- ORIGEN -->
    <td>
  <span th:if="${c.origenes == null || #lists.isEmpty(c.origenes)}">
    Sin origen
  </span>

  <span th:if="${c.origenes != null}">
      <span th:each="o : ${c.origenes}" th:text="${o + ' '}"></span>
    </span>
</td>

    <!-- EDITAR -->
    <td>
      <form th:action="@{/comida/editar}" method="post">
        <input type="hidden" name="id" th:value="${c.idComida}" />
        <button type="submit">Editar</button>
      </form>
    </td>

    <!-- ELIMINAR -->
    <td>
      <form th:action="@{/comida/eliminar}" method="post">
        <input type="hidden" name="id" th:value="${c.idComida}" />
        <button type="submit">Eliminar</button>
      </form>
    </td>

  </tr>
</table>

<br/><br/>
<a th:href="@{/}">Regresar al menu principal</a>

</body>
</html>