<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" slang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sistema Mercado</title>
  </head>
  <body>
    <div align="center">
      <h1>Sistema Mercado</h1>
    </div>
    <div align="center">
      <table border="1">
        <tr>
          <th><a href="/caduce">Caduce</a></th>
          <th><a href="/categoria">Categoria</a></th>
          <th><a href="/productos">Productos</a></th>
          <th><a href="/ropa">Ropa</a></th>
          <th><a href="/comida">Comida</a></th>
          <th><a href="/talla">Talla</a></th>
          <th><a href="/origen">Origen</a></th>
        </tr>
      </table>
    </div>
  </body>
</html>
