<!doctype html>

<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema Mercado</title>
</head>

<body bgcolor="#6c9eab" text="white">

<center>
    <h1>Sistema Mercado</h1>
    <hr width="30%">
    <br>

    <table border="1" cellpadding="10" cellspacing="0" width="25%" bgcolor="#4a4747">
        <tr>
            <th><h3>Menú Principal</h3></th>
        </tr>
        <tr>
            <td align="center"><a href="/caduce" style="color:white;">Caduce</a></td>
        </tr>
        <tr>
            <td align="center"><a href="/categoria" style="color:white;">Categoría</a></td>
        </tr>
        <tr>
            <td align="center"><a href="/productos" style="color:white;">Productos</a></td>
        </tr>
        <tr>
            <td align="center"><a href="/ropa" style="color:white;">Ropa</a></td>
        </tr>
        <tr>
            <td align="center"><a href="/comida" style="color:white;">Comida</a></td>
        </tr>
        <tr>
            <td align="center"><a href="/talla" style="color:white;">Talla</a></td>
        </tr>
        <tr>
            <td align="center"><a href="/origen" style="color:white;">Origen</a></td>
        </tr>
    </table>

    <br>
    <hr width="45%">
    <p>© 2026 Sistema Mercado</p>
</center>

</body>
</html>
