<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lista de Caduce</title>
  </head>
  <body bgcolor="#6c9eab" text="white">
    <h2>Caduce</h2>

    <a th:href="@{/caduce/nuevo}"> Nuevo </a><br /><br />

    <table border="1" bgcolor="#4a4747">
      <tr>
        <th>ID</th>
        <th>Tipo</th>
        <th>Eliminar</th>
      </tr>

      <tr th:each="c:${listDatosCaduce}" style="text-align: center;">
        <td th:text="${c.idCaduce}"></td>

        <td th:text="${c.caduce}"></td>
<td>
        <form th:action="@{/caduce/eliminar}" method="post">
          <input type="hidden" name="id" th:value="${c.idCaduce}" />
          <button type="submit">Eliminar</button>
        </form>
        </td>
      </tr>
    </table>
    <br /><br />
    <a th:href="@{/}">Regresar al menú principal</a>
  </body>
</html>
